@using PagedList;
@using PagedList.Mvc;
@model IPagedList<NimapInfotechMVC.Models.Category>

@{
    ViewBag.Title = "Category List";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Add New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CId })
            </td>
        </tr>
    }

</table>
<div class="pagedList">
    @Html.PagedListPager(Model, i => Url.Action("Index", "Category", new { i, Search = Request.QueryString["Search"] }))
</div>
