@using PagedList;
@using PagedList.Mvc;
@model IPagedList<NimapInfotechMVC.Models.ProductList>

@{
    ViewBag.Title = "Products List";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Add New Product", "create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
<div class="pagedList">
    @Html.PagedListPager(Model, i => Url.Action("Index", "Product", new { i, Search = Request.QueryString["Search"] }))
</div>